@CHARSET "UTF-8";
/** {
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
}*/

#lod-main {
	float: left;
	width: 65%;
}

#lod-side {
	float: right;
	width: 33%;
}

.lodbrowserlinks {
	font-size: 0.9em;
}

.uri {
	font-size: 0.9em;
	color: gray;
	font-style: italic;
	white-space: nowrap;
}

.lodentity {
	border-style:dotted;
	border-width:thin;
	background-color:#f8f8f8;
	margin-bottom:0.2em;
	padding:0.2em;
	display:relative;
}

.urirow {
	background-color:#f8f8f8;
}

.loaddata {
	position:absolute;
	right : 1em;
	bottom : 0.5em;
}

#main-workflow,
#main-tasks,
#main-answers,
#main-tree,
#main-data,
#main-comp,
#main-credits,
#main-person,
#category-chooser,
#main-std-props,
#main-facts {
	clear:both;
	padding:5px;
	margin-bottom:5px;
	width:100%;
	font-size:0.9em;
	border-style:solid;
	border-color: #aaa;
	border-width:thin;
}

img.wflowimage {
	width:50%;
	border: thin #aaa solid;
}

.wt-infobox {
	padding:2px !important;
	color:#666;
	margin-bottom:5px;
	font-size:0.9em;
	font-style: italic;
}

.wt-sidebox {
	font-size:0.9em;
	width:20em;
	max-width:50%;
	margin-left:5px;
	float:right;
	clear:right;
}

/*
	Contributions Table
*/
#main-person {
	max-height: 220px;
	overflow: auto;
}
.props-table .table.contrib {
	padding:0px;
}
.props-table .table.contrib .row .cell {
	font-size: 0.9em;
	padding: 4px;
	border-bottom: 1px solid #ddd;
}
.props-table .table.contrib .row.head .cell {
	border-bottom: 1px solid #ddd;
	background-color: #eee;	
	padding:2px;
	padding-left:4px;
	font-weight: bold;
}
.props-table .table.contrib .row .cell.time {
	white-space: nowrap;
	width:20%;
}
.props-table .table.contrib .row .cell.page {
	width:35%;
	text-overflow: ellipsis;
}
.props-table .table.contrib .row .cell.comment {
	width:45%;
}

.sidebar-facts-source {
	font-size: 0.9em;
	white-space: nowrap;
}

.actionlink {
	font-size: 0.9em;
}

.head-note {
	font-size: 0.9em;
	align: right;
}

.noarticletext {
	display:none;
}

#wikipedia-content, #lod-content {
	min-height:150px;
}

a.lodlink {
	cursor:pointer;
}

a.lodbutton {
	cursor:pointer;
	padding:1px 4px 1px 4px;
	margin:1px 2px 1px 2px;
	background-color:#eee;
	border:1px solid #ddd;
}

.hideotherlanguages tr.otherlang {
	display:none;
}


a.lodbutton:hover {
	background-color:#FFEE99;
	text-decoration:none;
}

.lodselected {
	background-color:#FFEE99;
}

.editsection {
	visibility:hidden;
}
	
.x-small {
	font-size: 0.9em;
}

.lodhidden {
	display:none;
}

.lodinvisible {
	visibility:hidden;
}

.lodblock {
	display:block;
}

.lodright {
	display:block;
	float:right;
}

.lodleft {
	display:block;
	float:left;
}

table.compact { 
	border-collapse: collapse; 
	width: 100%;
}
table.compact td {
	padding:0px;
}
table.compact ul {
	margin-top:0px;
}

table.lod-table { 
	table-layout:fixed; 
	border-collapse: collapse; 
	width: 100%;
	font-size:1em;
}

table.lod-table td { 
	border-top: 1px solid #eee; 
	text-overflow:ellipsis; 
	overflow:hidden; 
	white-space:nowrap; 
}

table.lod-table table td { 
	border-width: 0px;
}

table.lod-facts-inner-table { 
	table-layout:fixed; 
	border-collapse: collapse; 
	width: 100%;
	background-color: transparent;
}
table.lod-facts-inner-table td { 
	padding:0px;
}

table.lod-table td.prop {
	width: 30%;
}

table.lod-table td.source {
	font-size: 0.9em;
	border-top: 0px;
}

div.lodsources {
	float:right;
	opacity:0.5;
}

a.source_sindice {
	display:block;
	float:left;
	width:50px;
	height:13px;
	background: url('../images/sindice.png') no-repeat;
}

a.source_sameas {
	display:block;
	float:left;
	width:45px;
	height:9px;
	background: url('../images/sameas.png') no-repeat;
}

a.source_organicdatapublishing {
	display:block;
	float:left;
	width:16px;
	height:16px;
	background: url('../images/odp.png') no-repeat;
}

a.source_user {
	display:block;
	float:left;
	width:45px;
	height:11px;
	background: url('../images/user.png') no-repeat;
}

.lodlabel {
	font-weight:bold;
}

.loddomain {
	font-size:0.9em;
	font-style:italic;
}

#ca-edit {
	visibility: hide;
}

.lodspacer {
	height:5px;
}

a.todo,
a.todo:visited,
a.todo:hover {
	color: #BA0000;
}

/* Menu */
.lodmenu {	
	margin: 0;
	padding: 0;
}
	
.lodmenu li {	
	list-style: none;
	font-size:0.9em;
}

.lodmenu li a {	
	cursor: pointer;
	white-space: nowrap;
}

.lodmenu li ul {	
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border: 1px solid #DDD;
	z-index:99;
}
		
.lodmenu li ul li {	
	float: none;
	display: inline
}
		
.lodmenu li ul li a {	
	width: auto;
	display: block;
	background: #FFF;
	padding:0px 2px 0px 10px;
	border-bottom: 1px solid #EEE;
}
		
.lodmenu li ul li a:hover {	
	background: #FFEE99;
}

.helpbutton {
	display:block;
	float:right;
	padding-left:16px;
	height:16px;
	background-image: url(../images/help.png);
	background-repeat: no-repeat;
}

/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

#main-workflow,
#main-tasks,
#main-answers,
#main-tree,
#main-data,
#main-comp,
#main-credits,
#main-person,
#category-chooser,
#main-std-props,
.wt-sidebox, .wt-infobox {
	border: 1px solid;
	border-color:#e2e2e2;
	background-color: #f6f6f6;
	padding: 0px;
}

#main-facts {
	border-color:#e2e2ef;
	background-color: #f6f6ff;
	padding: 0px;
}
#main-facts .heading,
#main-facts .heading a {
	color:#667;
	background-color:#e2e2ef;
}

#main-credits {
	border-color:#efefe2;
	background-color: #fffff6;
	padding: 0px;
}
#main-credits .heading {
	color:#776;
	background-color:#efefe2;
}

#main-tasks,
#main-tree {
	border-color:#efe6ef;
	background-color: #fffaff;
	padding: 0px;
}
#main-tasks .heading,
#main-tasks .heading a,
#main-tree .heading,
#main-tree .heading a {
	color:#767;
	background-color:#efe6ef;
}

#main-answers {
	border-color:#e2efe2;
	background-color: #f6fff6;
	padding: 0px;
}
#main-answers .heading,
#main-answers .heading a {
	color:#676;
	background-color:#e2efe2;
}

#main-data {
	background-color:#f0e68c;
	border-color:#d0c66c;
	padding: 0px;
}
#main-data .heading,
#main-data .heading a {
	color:#761;
	background-color:#d0c66c;
}

#main-workflow {
	background-color:#f0fff0;
	border-color:#d0ddd0;
	padding: 0px;
}
#main-workflow .heading,
#main-workflow .heading a {
	color:#676;
	background-color:#d0ddd0;
}

.props-table{
	padding: 0px;
	overflow:hidden;
}
.props-table .table{
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 5px 0px;
}
.props-table .row{
	display: table-row;
}
.props-table .row input,
.props-table .row select{
	margin: 0px;
}
.props-table .row:hover{
	cursor: pointer;
	background-color: #bee0f8;
}
.props-table .row.edit{
	background-color: #bee0f8;
}
.props-table .row.edit input {
	width: 99%;
	font-size: 12px;
}
.props-table .row .cell{
	display: table-cell;
	padding:2px;
	overflow:hidden; 
	text-overflow:ellipsis;
}
.props-table .row.fade .cell.icon,
.props-table .row.fade,
.props-table .row.fade a {
	color:#bbbbbb !important;
}
.props-table .row .cell.label{
	width: 25%;
	white-space: nowrap;
}
.props-table .row .cell.author {
	width: 25%;
	font-size:9px;
	color:#999;
	text-align:right;
	white-space: nowrap;
}
.props-table .row .cell.icon{
	color: #97bb5a;
	width: 18px;
	padding-left: 6px;
	text-align: 'center';
}
.props-table .row .cell.content{
}
.props-table .row .cell.icon .mandatory{
	vertical-align: 3px; 
	font-size: 70%; 
	font-weight:bold;
}
.props-table .notes{
	color:#aaa;
	font-size: 10px; 
	line-height: 10px;
	padding-left:6px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 2px;
	background-color:#e2e2e2;
}
.props-table .heading{
	color:#666;
	background-color:#e2e2e2;
	font-size: 14px; 
	line-height: 14px;
	padding-left:6px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-right: 2px;
}

.delbutton {
	color: maroon;
}

.ui-autocomplete.ui-widget {
  font-size: 11px;
}
.ui-state-highlight {
  font-weight: bold;
}
